#### **Creating Dictionary**

In [1]:
''' Membuat Dictionary dengan Simbol Kurung Kurawal '''

# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : 940000,
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : 57000,
    "Botol Kecap Bekas" : 1000
}

# Tampilkan hasilnya
print(harga_barang)

{'Corkcicle': 940000, 'Smiggle Drink Bottle': 550000, 'Tupperware': 57000, 'Botol Kecap Bekas': 1000}

In [2]:
''' Membuat Dictionary dengan Konstruktor '''

# Inisialisasi variabel
harga_barang = dict(
    Corkcicle = 940000,
    Smiggle_Drink_Bottle = 550000,
    Tupperware = 57000,
    Botol_Kecap_Bekas = 1000
)

# Tampilkan hasilnya
print(harga_barang)

{'Corkcicle': 940000, 'Smiggle_Drink_Bottle': 550000, 'Tupperware': 57000, 'Botol_Kecap_Bekas': 1000}

#### **Checking Data Type**

In [3]:
''' Memeriksa tipe data dictionary '''

# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : 940000,
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : 57000,
    "Botol Kecap Bekas" : 1000
}

# Periksa tipe data
tipedata = type(harga_barang)

# Tampilkan hasilnya
print(f'Variabel harga barang = {harga_barang} \nmempunyai tipe data {tipedata}')

Variabel harga barang = {'Corkcicle': 940000, 'Smiggle Drink Bottle': 550000, 'Tupperware': 57000, 'Botol Kecap Bekas': 1000}
mempunyai tipe data <class 'dict'>

#### **Empty Dictionary**

In [4]:
''' Membuat Dictionary Kosong '''

# Membuat dictionary kosong dengan simbol
dict1 = {}

# Tampilkan hasilnya
print(f"Nilai variabel dict1 = {dict1} dengan tipedata = {type(dict1)}")

# Membuat dictionary kosong dengan konstruktor
dict2 = dict()

# Tampilkan hasilnya
print(f"Nilai variabel dict2 = {dict2} dengan tipedata = {type(dict2)}")

Nilai variabel dict1 = {} dengan tipedata = <class 'dict'>
Nilai variabel dict2 = {} dengan tipedata = <class 'dict'>

#### **Length of Dictionary**

In [5]:
''' Menghitung banyak elemen pada dictionary '''

# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : 940000,
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : 57000,
    "Botol Kecap Bekas" : 1000
}

# Hitung banyak elemen pada dict
banyakelemen = len(harga_barang)

# Tampilkan hasilnya
print(f'Variabel harga barang = {harga_barang} \nmempunyai banyak elemen {banyakelemen}')

Variabel harga barang = {'Corkcicle': 940000, 'Smiggle Drink Bottle': 550000, 'Tupperware': 57000, 'Botol Kecap Bekas': 1000}
mempunyai banyak elemen 4

In [6]:
''' Menghitung banyak elemen pada dictionary dengan len '''

# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : [940000, 750000, 1050000],
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : [57000, 78000],
    "Botol Kecap Bekas" : 1000
}

# Hitung banyak elemen pada dict
banyakelemen = len(harga_barang)

# Tampilkan hasilnya
print(f'Variabel harga barang = {harga_barang} \nmempunyai banyak elemen {banyakelemen}')

Variabel harga barang = {'Corkcicle': [940000, 750000, 1050000], 'Smiggle Drink Bottle': 550000, 'Tupperware': [57000, 78000], 'Botol Kecap Bekas': 1000}
mempunyai banyak elemen 4

#### **Accessing Dictionary**

In [7]:
# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : [940000, 750000, 1050000],
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : [57000, 78000],
    "Botol Kecap Bekas" : [1000, 1500]
}

# Akses dict harga_barang dengan kunci (key)
harga_botol = harga_barang["Botol Kecap Bekas"]

# Tampilkan hasilnya
print(f'Varian Harga Botol Kecap Bekas = {harga_botol}')

Varian Harga Botol Kecap Bekas = [1000, 1500]

In [8]:
# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : [940000, 750000, 1050000],
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : [57000, 78000],
    "Botol Kecap Bekas" : [1000, 1500]
}

# Akses dict harga_barang dengan kunci (key)
harga_botol = harga_barang["Botol Kecap Bekas"][1]

# Tampilkan hasilnya
print(f'Varian Harga Botol Kecap Bekas = {harga_botol}')

Varian Harga Botol Kecap Bekas = 1500

In [9]:
# Inisialisasi variabel
data_karyawan = {
    'karyawan1': {'nama': 'Aksara', 'salary': 7500000},
    'karyawan2': {'nama': 'Antara', 'salary': 8000000},
    'karyawan3': {'nama': 'Sendja', 'salary': 8500000}
}

# Gaji Sendja
gaji_sendja = data_karyawan['karyawan3']['salary']

# Tampilkan hasilnya
print(f'Gaji karyawan atas nama Sendja adalah Rp.{gaji_sendja}')

Gaji karyawan atas nama Sendja adalah Rp.8500000

#### **Updating Dictionary**

In [10]:
# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : [940000, 750000, 1050000],
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : [57000, 78000],
    "Botol Kecap Bekas" : [1000, 1500]
}

# Access dict
harga_botol = harga_barang["Botol Kecap Bekas"]

# Tampilkan hasil
print(f'Varian Harga Botol Kecap Bekas sebelum update = {harga_botol}')

# Update dict
harga_barang["Botol Kecap Bekas"] = [1250, 1750]

# Access dict
harga_botol = harga_barang["Botol Kecap Bekas"]

# Tampilkan hasilnya
print(f'Varian Harga Botol Kecap Bekas sesudah update = {harga_botol}')

Varian Harga Botol Kecap Bekas sebelum update = [1000, 1500]
Varian Harga Botol Kecap Bekas sesudah update = [1250, 1750]

In [11]:
# Inisialisasi variabel
harga_barang = {
    "Corkcicle" : [940000, 750000, 1050000],
    "Smiggle Drink Bottle" : 550000,
    "Tupperware"  : [57000, 78000],
    "Botol Kecap Bekas" : [1000, 1500]
}

# Access dict
harga_botol = harga_barang["Botol Kecap Bekas"]

# Tampilkan hasil
print(f'Varian Harga Botol Kecap Bekas sebelum update = {harga_botol}')

# Update dict
harga_barang["Botol Kecap Bekas"][0] = 1250

# Access dict
harga_botol = harga_barang["Botol Kecap Bekas"]

# Tampilkan hasilnya
print(f'Varian Harga Botol Kecap Bekas sesudah update = {harga_botol}')

Varian Harga Botol Kecap Bekas sebelum update = [1000, 1500]
Varian Harga Botol Kecap Bekas sesudah update = [1250, 1500]

#### **Method pada Dictionary: get**

In [12]:
# Inisialisasi variabel
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Penggunaan method get pada dictionary
DE_skill = skill_needed.get('data_engineer')

# Tampilkan hasil
print(f'Sekill yang dibutuhkan bagi data engineer adalah {DE_skill}')

Sekill yang dibutuhkan bagi data engineer adalah ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)']

#### **Method pada Dictionary: fromkeys**

In [13]:
# Kunci untuk dictionary
kunci = ['a', 'b', 'c']

# Nilai untuk dictionary
nilai = 1

# creates a dictionary with keys and values
dictionary = dict.fromkeys(kunci, nilai)

# Tampilkan hasil
print(dictionary)

{'a': 1, 'b': 1, 'c': 1}

#### **Method pada Dictionary: update**

In [14]:
# Inisialisasi variabel
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Tampilkan hasil
print(f"Sebelum diupdate :\n{skill_needed}")

skill_needed.update({
    'data_scientist' : ['Machine Learning', 'Business Knowledge', 'Predictive Analysis', 'Prespective Analysis'],
    'business_intelligence_dev' : ['BI Tools', 'Visualization Concept', 'SQL']
})

# Tampilkan hasil
print(f"Setelah diupdate :\n{skill_needed}")

Sebelum diupdate :
{'data_analyst': ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'], 'data_engineer': ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'], 'data_scientist': ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']}
Setelah diupdate :
{'data_analyst': ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'], 'data_engineer': ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'], 'data_scientist': ['Machine Learning', 'Business Knowledge', 'Predictive Analysis', 'Prespective Analysis'], 'business_intelligence_dev': ['BI Tools', 'Visualization Concept', 'SQL']}

#### **Method pada Dictionary: keys and values**

In [16]:
# Inisialisasi variabel
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Dapatkan seluruh keys pada skill_needed
key = skill_needed.keys()

# Tampilkan hasilnya
print(f'Kunci pada dict skill_needed adalah {key} dengan tipe data {type(key)}')

Kunci pada dict skill_needed adalah dict_keys(['data_analyst', 'data_engineer', 'data_scientist']) dengan tipe data <class 'dict_keys'>

In [17]:
# Inisialisasi variabel
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Dapatkan seluruh keys pada skill_needed
key = skill_needed.keys()

# Konversi ke list
key = list(key)

# Tampilkan hasilnya
print(f'Kunci pada dict skill_needed adalah {key} dengan tipe data {type(key)}')

Kunci pada dict skill_needed adalah ['data_analyst', 'data_engineer', 'data_scientist'] dengan tipe data <class 'list'>

In [18]:
# Inisialisasi variabel
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Dapatkan seluruh keys pada skill_needed
value = skill_needed.values()

# Tampilkan hasilnya
print(f'Kunci pada dict skill_needed adalah {value} dengan tipe data {type(value)}')

Kunci pada dict skill_needed adalah dict_values([['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'], ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'], ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']]) dengan tipe data <class 'dict_values'>

#### **Looping in Dictionary**

In [22]:
''' Penggunaan Loop pada Dictionary '''

# Inisialisasi variabel
skill_needed = dict(
    data_analyst = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis'],
    data_engineer = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)'],
    data_scientist = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']
)

# Proses perulangan
for key, value in skill_needed.items():
    print(f'Pada kunci = {key} mempunyai nilai = {value}')

Pada kunci = data_analyst mempunyai nilai = ['SQL', 'Business Knowledge', 'Descriptive Analysis', 'Diagnostics Analysis']
Pada kunci = data_engineer mempunyai nilai = ['Database Knowledge', 'Data Modelling', 'Programming Lang. (Python, Scala, etc)']
Pada kunci = data_scientist mempunyai nilai = ['Machine Learning', 'Business Knowledge', 'Predictive Analysis']

#### **Intro to PANDAS**

In [23]:
# Import library yang dibutuhkan : pandas
import pandas

# Inisialisasi variabel
transact = dict(
    id_trx = ['DQ12345', 'DQ23718', 'DQ78161', None, 'DQ99817'],
    id_cust = ['DQCUST01', 'DQCUST02', 'DQCUST03', 'DQCUST04', None],
    item_name = ['Mendoan', 'Mie Kirin', 'Tas Dori', 'Motor Kawsakiti', 'Sepatu Roobek'],
    price = [3500, 5000, 160000, 8900000, 560000],
    qty = [3, 5, 4, 1, 2] 
)

# Ubah menjadi dataframe pandas
data = pandas.DataFrame(transact)

# Tampilkan data
display(data)

    id_trx   id_cust        item_name    price  qty
0  DQ12345  DQCUST01          Mendoan     3500    3
1  DQ23718  DQCUST02        Mie Kirin     5000    5
2  DQ78161  DQCUST03         Tas Dori   160000    4
3     None  DQCUST04  Motor Kawsakiti  8900000    1
4  DQ99817      None    Sepatu Roobek   560000    2

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_trx     4 non-null      object
 1   id_cust    4 non-null      object
 2   item_name  5 non-null      object
 3   price      5 non-null      int64
 4   qty        5 non-null      int64
dtypes: int64(2), object(3)
memory usage: 328.0+ bytes